venv
.env
scratchpad.py
__pycache__
output/*
t2mean/*
data/*
*.zarr
*.png
*.npy
test_ftp.py

scripts/synthetic_plots/data/
scripts/synthetic_plots/figures/
scripts/synthetic_plots/vis_intermediate_results
figures
group_files
share_tomasz
